body {
  height: 1500px; }

.container {
  width: 900px;
  margin: 0 auto; }

.header {
  background: url("../../images/header.png") bottom no-repeat;
  width: 100%;
  height: 700px; }

.header__content {
  width: 30%;
  color: #ffffff;
  padding: 70px 0 0 230px;
  font-family: "Bitter", serif; }
  .header__content .header-content__logo {
    font-size: 25px; }
  .header__content .header-content__title {
    font-size: 45px;
    margin-top: 100px;
    line-height: 55px; }
  .header__content .header-content__text {
    margin-top: 40px;
    line-height: 20px; }
  .header__content .header-content__button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    margin-top: 35px;
    background: linear-gradient(to right, #236EC2, #10D5DB);
    text-transform: uppercase;
    width: 160px;
    height: 45px;
    cursor: pointer; }

.main__wave {
  position: relative; }

.waves {
  height: 218px;
  width: 100%;
  position: absolute;
  overflow: hidden;
  top: -218px; }

.wave__one {
  background: url("../../images/wave_top.png") repeat-x;
  height: 218px;
  width: 7000px;
  position: absolute;
  top: 0;
  -webkit-animation: waves 15s infinite linear;
  -o-animation: waves 15s infinite linear;
  animation: waves 15s infinite linear;
  z-index: 1; }

.wave__two {
  background: url("../../images/wave_top_opacity.png") repeat-x;
  height: 218px;
  width: 7000px;
  position: absolute;
  top: 0;
  -webkit-animation: waves 10s infinite linear;
  -o-animation: waves 10s infinite linear;
  animation: waves 10s infinite linear;
  z-index: 0; }

.ourskills {
  padding: 265px 0 110px 0;
  font-family: "Lato", sans-serif;
  color: #474747;
  background: #ebebeb;
  -webkit-box-shadow: -1px 0 34px rgba(0, 0, 0, 0.54);
  -moz-box-shadow: -1px 0 34px rgba(0, 0, 0, 0.54);
  box-shadow: -1px 9px 0 34 rgba(0, 0, 0, 0.54); }

.ourskills__header {
  font-size: 27px;
  text-align: center; }

.ourskills__items {
  display: flex;
  justify-content: center;
  margin-top: 80px; }

.ourskills__item {
  text-align: center;
  margin-right: 30px; }
  .ourskills__item:last-child {
    margin-right: 10px; }

.ourskills-item__title {
  margin-top: 33px;
  color: #3B7AC9;
  text-transform: uppercase; }

.ourskills-item__text {
  line-height: 25px;
  margin-top: 10px; }

.whatwecan {
  margin-top: 100px;
  font-family: "Lato", sans-serif;
  padding-bottom: 115px; }

.whatwecan__header {
  font-size: 25px;
  color: #474747;
  text-align: center;
  letter-spacing: 1px; }

.whatwecan__dots {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #256dc1; }
  .whatwecan__dots .fa-circle {
    font-size: 5px;
    margin: 0 3px; }
    .whatwecan__dots .fa-circle:first-child {
      margin-left: 0; }
    .whatwecan__dots .fa-circle:nth-child(3) {
      font-size: 10px; }

.whatwecan__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px; }

.whatwecan__item {
  width: 40%;
  display: flex;
  margin-top: 110px; }

.whatwecan-item__content {
  margin-left: 10px;
  width: 60%; }

.whatwecan-item-content__title {
  font-size: 17px;
  font-weight: bolder;
  letter-spacing: 1px; }

.whatwecan-item-content__text {
  margin-top: 15px;
  line-height: 25px; }

.howwework {
  font-family: "Lato", sans-serif; }

.howwework__header {
  text-align: center;
  padding: 200px 0 262px 0;
  color: #474747;
  font-size: 27px;
  background: #ebebeb;
  -webkit-box-shadow: -1px 0px 34px rgba(0, 0, 0, 0.54);
  -moz-box-shadow: -1px -18px 34px rgba(0, 0, 0, 0.54);
  box-shadow: -1px 9px -18px 34px rgba(0, 0, 0, 0.54); }

.features {
  background: url("../../images/background.png") no-repeat;
  font-family: "Lato", sans-serif; }

.features__video {
  position: relative;
  width: 100%;
  height: 490px;
  margin: 0 auto;
  top: -220px; }

.features-video__img {
  background: url("../../images/vid.png");
  height: 490px;
  margin: 0 auto;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center; }
  .features-video__img .fa-circle {
    opacity: 0.3; }
  .features-video__img i {
    color: #00A2F8;
    border-radius: 10px; }

.layout {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 20px;
  background: linear-gradient(135deg, #D4DBEC, #e71b9d);
  opacity: 0.5; }

.features__header {
  margin-top: 53px;
  text-align: center;
  font-size: 27px;
  color: #ffffff; }

.features__status {
  margin-top: 75px; }
  .features__status .container {
    width: 910px;
    display: flex;
    align-items: center; }

.features-statut__item {
  width: 32%;
  margin-left: 17px; }
  .features-statut__item img {
    margin-bottom: 10px; }
  .features-statut__item:first-child {
    margin-left: 0; }
    .features-statut__item:first-child .features-status-item-content__item {
      margin-top: 10px; }
  .features-statut__item:nth-child(2) .features-status-item-content__button {
    background: #266dc1;
    color: #ffffff; }
  .features-statut__item:nth-child(2) .features-status-item-content__item {
    margin-top: 8px; }
  .features-statut__item:last-child .features-status-item-content__item {
    margin-top: 8px; }

.features-status-item__header {
  text-align: center;
  background: linear-gradient(135deg, #256DC2, #10D5DB);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px; }

.features-status-item-header__title {
  font-size: 24px;
  font-weight: bolder;
  color: #ffffff;
  text-transform: uppercase;
  padding: 40px 50px 15px 50px; }

.features-status-item-header__logo {
  padding-bottom: 7px; }

.features-status-item-content__item {
  display: flex;
  padding-left: 40px; }
  .features-status-item-content__item p {
    margin-left: 10px; }

.features-status-item__content {
  padding: 30px 0 17px 0;
  background: #ffffff; }
  .features-status-item__content i {
    color: #2774c5;
    font-size: 20px; }

.features-status-item-content__button {
  border-radius: 20px;
  border: 2px solid #266DC1;
  text-align: center;
  text-transform: uppercase;
  padding: 10px 20px;
  width: 90px;
  color: #266dc1;
  font-size: 14px;
  margin-top: 60px; }

.features-status-item-content__bottom {
  display: flex;
  justify-content: center; }

.checkourwork {
  margin-top: 227px;
  font-family: "Lato", sans-serif;
  letter-spacing: 1px; }
  .checkourwork .container {
    text-align: center;
    width: 1030px; }

.checkourwork__header {
  font-size: 27px;
  color: #474747; }

.checkourwork__pic {
  text-align: center;
  margin-top: 50px; }

.checkourwork__text {
  width: 605px;
  margin: 0 auto;
  margin-top: 30px;
  line-height: 25px; }

.checkourwork__button {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  margin-top: 38px;
  background: linear-gradient(to right, #236EC2, #10D5DB);
  text-transform: uppercase;
  width: 170px;
  height: 55px;
  cursor: pointer;
  color: #ffffff;
  margin-bottom: 386px; }

.calling {
  margin-top: 227px;
  font-family: "Lato", sans-serif;
  letter-spacing: 1px;
  background: #1f0022; }
  .calling .container {
    text-align: center;
    width: 1030px;
    padding-bottom: 75px; }

.calling__comment {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  left: 0;
  top: -110px; }

.calling-comment__content {
  position: relative;
  width: 82%;
  display: flex;
  justify-content: center; }

.calling-comment-content__back {
  box-shadow: 1px -5px 87px -16px rgba(0, 0, 0, 0.75);
  height: 90%;
  position: absolute;
  width: 100%;
  margin: 0 auto;
  background: #ffffff; }

.arrow {
  display: flex; }

.left__arrow {
  border-radius: 50px;
  padding: 8px 17px 8px 15px;
  margin-right: 40px;
  background: linear-gradient(180deg, #1BA2CF, #11d9e2); }

.right__arrow {
  border-radius: 50px;
  padding: 8px 15px 8px 18px;
  margin-left: 40px;
  background: linear-gradient(180deg, #1BA2CF, #11d9e2); }

.calling-comment-content__front {
  box-shadow: 1px -5px 87px -16px rgba(0, 0, 0, 0.75);
  width: 89%;
  margin-top: -50px;
  position: relative;
  background: #ffffff;
  padding-bottom: 110px; }

.calling-comment-content-front__image {
  margin-top: 70px;
  font-size: 27px;
  color: #E1E1E1; }

.calling-comment-content-front__name {
  margin-top: 35px;
  font-size: 17px;
  text-transform: uppercase;
  color: #3c7ac9;
  font-weight: bolder; }

.calling-comment-content-front__mark {
  margin-top: 30px;
  font-size: 23px;
  color: #1ba2cf; }

.calling-comment-content-front__text {
  width: 65%;
  text-align: center;
  margin: 0 auto;
  margin-top: 33px;
  line-height: 23px; }

.calling__header {
  font-size: 25px;
  color: #ffffff;
  margin-top: 33px; }

.calling__text {
  margin: 0 auto;
  margin-top: 45px;
  font-size: 18px;
  color: #ffffff;
  width: 49%;
  line-height: 20px; }

.calling__button {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  margin-top: 45px;
  background: linear-gradient(to right, #236EC2, #10D5DB);
  text-transform: uppercase;
  width: 170px;
  height: 55px;
  cursor: pointer;
  color: #ffffff; }

.footer {
  font-family: "Lato", sans-serif;
  display: flex; }

.footer__menu {
  display: flex;
  padding: 35px 200px;
  font-size: 16px; }

.footer-menu__item {
  margin-left: 23px; }

.footer__social {
  font-size: 12px;
  margin: 35px 0 35px 100px; }
  .footer__social .fa-circle {
    color: #1f0022; }
  .footer__social .fa-stack {
    margin-left: 30px; }

@keyframes waves {
  0% {
    margin-left: 0; }
  100% {
    margin-left: -1938px; } }
