doctype html
html
    head
        meta(charset = 'utf-8')
        link(href = 'styles/css/reset.css' rel = 'stylesheet')
        link(href = 'styles/css/fontawesome-all.css' rel = 'stylesheet')
        link(href = 'https://fonts.googleapis.com/css?family=Bitter' rel = 'stylesheet')
        link(href= ' https://fonts.googleapis.com/css?family=Lato' rel = 'stylesheet')
        link(href = 'styles/css/main.css' rel = 'stylesheet')
        title Web Studio
        body
            .header
                .header__content
                    .header-content__logo LOGO
                    .header-content__title Create Your Design Now
                    .header-content__text We work and freelancesto complete allrelated work on design
                    .header-content__button get started
            .main__wave
                .waves
                    .wave__one
                    .wave__two
            .ourskills
                .container
                    .ourskills__header What Are Our Skills ?
                    .ourskills__items
                        .ourskills__item
                            .ourskills-item__img
                                img(src = 'images/branding.png')
                            .ourskills-item__title branding
                            .ourskills-item__text We are able craete a quality brand that is able to able to adapt to any media
                        .ourskills__item
                            .ourskills-item__img
                                img(src = 'images/print-design.png')
                            .ourskills-item__title print design
                            .ourskills-item__text We are able to create high quality print design and easy to use for every need
                        .ourskills__item
                            .ourskills-item__img
                                img(src = 'images/dashboard.png')
                            .ourskills-item__title dashboard
                            .ourskills-item__text In addition we also create a dashboard that is able to facilitate your work
                        .ourskills__item
                            .ourskills-item__img
                                img(src = 'images/photo.png')
                            .ourskills-item__title photo editor
                            .ourskills-item__text We can also elit your photo to be interesting and cool with good quality
            .whatwecan
                .container
                    .whatwecan__header What we can do for you?
                    .whatwecan__dots
                        i.fas.fa-circle
                        i.fas.fa-circle
                        i.fas.fa-circle
                        i.fas.fa-circle
                        i.fas.fa-circle
                    .whatwecan__items
                        .whatwecan__item
                            .whatwecan-item__img
                                img(src = 'images/solve.png')
                            .whatwecan-item__content
                                .whatwecan-item-content__title Able Solve Your Problem
                                .whatwecan-item-content__text We are able to solve your problems related to design especially on brand, print design, dashboard, and photo
                        .whatwecan__item
                            .whatwecan-item__img
                                img(src = 'images/prices.png')
                            .whatwecan-item__content
                                .whatwecan-item-content__title Friendly Prices
                                .whatwecan-item-content__text And we also provide a friendly price for you so you do not need think long again
                        .whatwecan__item
                            .whatwecan-item__img
                                img(src = 'images/service.png')
                            .whatwecan-item__content
                                .whatwecan-item-content__title Convenient Service
                                .whatwecan-item-content__text And wo serve you kindly and we will solve any problems you face in the field of design, to be satisfied
                        .whatwecan__item
                            .whatwecan-item__img
                                img(src = 'images/quality.png')
                            .whatwecan-item__content
                                .whatwecan-item-content__title High Quality For You
                                .whatwecan-item-content__text We also make a high quality design so that you are not disappointed with what you have decided
            .howwework
                .howwework__header How it we work
            .features
                .container
                    .features__video
                        .layout
                        .features-video__img
                            span.fa-stack.fa-5x
                                i.fa.fa-circle.fa-3x.fa-stack-2x
                                i.fa.fa-play-circle.fa-1x.fa-stack-1x
                    .features__header What features we provide to you ?
                .features__status
                    .container
                        .features-statut__item
                            .features-status-item__header
                                .features-status-item-header__title silver
                                .features-status-item-header__logo
                                    img(src = 'images/silver.png')
                            .features-status-item__content
                                .features-status-item-content__item
                                    i.far.fa-check-circle
                                    p Deadline 5-7 Days
                                .features-status-item-content__item
                                    i.far.fa-check-circle
                                    p High Quality
                                .features-status-item-content__item
                                    i.far.fa-check-circle
                                    p Easy to Edit
                                .features-status-item-content__bottom
                                    .features-status-item-content__button get started
                        .features-statut__item
                            .features-status-item__header
                                .features-status-item-header__title platinum
                                .features-status-item-header__logo
                                    img(src = 'images/platinum.png')
                            .features-status-item__content
                                .features-status-item-content__item
                                    i.far.fa-check-circle
                                    p Deadline 1-3 Days
                                .features-status-item-content__item
                                    i.far.fa-check-circle
                                    p High Quality
                                .features-status-item-content__item
                                    i.far.fa-check-circle
                                    p Easy to Edit
                                .features-status-item-content__item
                                    i.far.fa-check-circle
                                    p Free All Assets
                                .features-status-item-content__item
                                    i.far.fa-check-circle
                                    p Unlimited Revision
                                .features-status-item-content__item
                                    i.far.fa-check-circle
                                    p Control Quality
                                .features-status-item-content__item
                                    i.far.fa-check-circle
                                    p Fast Finished Project
                                .features-status-item-content__bottom
                                    .features-status-item-content__button get started
                        .features-statut__item
                            .features-status-item__header
                                .features-status-item-header__title gold
                                .features-status-item-header__logo
                                    img(src = 'images/gold.png')
                            .features-status-item__content
                                .features-status-item-content__item
                                    i.far.fa-check-circle
                                    p Deadline 3-5 Days
                                .features-status-item-content__item
                                    i.far.fa-check-circle
                                    p High Quality
                                .features-status-item-content__item
                                    i.far.fa-check-circle
                                    p Easy to Edit
                                .features-status-item-content__item
                                    i.far.fa-check-circle
                                    p 2 Revision
                                .features-status-item-content__item
                                    i.far.fa-check-circle
                                    p Full Color For You
                                .features-status-item-content__bottom
                                    .features-status-item-content__button get started

















            script(src = 'js/jquery.js')
            script(src = 'js/main.js')