doctype html
html
    head
        meta(charset = 'utf-8')
        link(href = 'styles/css/reset.css' rel = 'stylesheet')
        link(href = 'styles/css/fontawesome-all.css' rel = 'stylesheet')
        link(href = 'styles/css/main.css' rel = 'stylesheet')
        link(href = 'https://fonts.googleapis.com/css?family=Bitter' rel = 'stylesheet')
        title Web Studio
        body
            .header
                .header__content
                    .header-content__logo LOGO
                    .header-content__title Create Your Design Now
                    .header-content__text We work and freelancesto complete allrelated work on design
                    .header-content__button get started
            .content
                .waves
                    .wave__one
                    .wave__two





            script(src = 'js/jquery.js')
            script(src = 'js/main.js')