doctype html
html
    head
        meta(charset = 'utf-8')
        link(href = 'styles/css/reset.css' rel = 'stylesheet')
        link(href = 'styles/css/fontawesome-all.css' rel = 'stylesheet')
        link(href = 'styles/css/main.css' rel = 'stylesheet')
        link(href = 'https://fonts.googleapis.com/css?family=Bitter' rel = 'stylesheet')
        link(href= ' https://fonts.googleapis.com/css?family=Lato' rel = 'stylesheet')
        title Web Studio
        body
            .header
                .header__content
                    .header-content__logo LOGO
                    .header-content__title Create Your Design Now
                    .header-content__text We work and freelancesto complete allrelated work on design
                    .header-content__button get started
            .main__wave
                .waves
                    .wave__one
                    .wave__two
            .ourskills
                .container
                    .ourskills__header What Are Our Skills ?
                    .ourskills__items
                        .ourskills__item
                            .ourskills-item__img
                                img(src = 'images/branding.png')
                            .ourskills-item__title branding
                            .ourskills-item__text We are able craete a quality brand that is able to able to adapt to any media
                        .ourskills__item
                            .ourskills-item__img
                                img(src = 'images/print-design.png')
                            .ourskills-item__title print design
                            .ourskills-item__text We are able to create high quality print design and easy to use for every need
                        .ourskills__item
                            .ourskills-item__img
                                img(src = 'images/dashboard.png')
                            .ourskills-item__title dashboard
                            .ourskills-item__text In addition we also create a dashboard that is able to facilitate your work
                        .ourskills__item
                            .ourskills-item__img
                                img(src = 'images/photo.png')
                            .ourskills-item__title photo editor
                            .ourskills-item__text We can also elit your photo to be interesting and cool with good quality







            script(src = 'js/jquery.js')
            script(src = 'js/main.js')